*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  background-color: #07253f;
}
a{
    color: #ffffff; 
}
a:hover{
        color: #ffffff; 
}
.navbar-collapse.collapse.show{
    padding-top: 20px;
}
.navbar-light .navbar-toggler {
    background-color: #fff !important;
    color: rgb(255 255 255) !important;
    border-color: rgb(255 255 255) !important;
}
.font-10 {
    font-size: 10px;
  }
  
  .font-11 {
    font-size: 11px;
  }
  
  .font-12 {
    font-size: 12px;
  }
  
  .font-13 {
    font-size: 13px;
  }
  
  .font-14 {
    font-size: 14px;
  }
  
  .font-15 {
    font-size: 15px;
  }
  
  .font-16 {
    font-size: 16px;
  }
  
  .font-17 {
    font-size: 17px;
  }
  
  .font-18 {
    font-size: 18px;
  }
  
  .font-19 {
    font-size: 19px;
  }
  
  .font-20 {
    font-size: 20px;
  }
  
  .font-21 {
    font-size: 21px;
  }
  
  .font-23 {
    font-size: 22px;
  }
  
  .font-23 {
    font-size: 23px;
  }
  

.navbar-light .navbar-brand{
    color: #ffffff !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.4rem !important;
    line-height: inherit;
    white-space: nowrap;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%) !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 90%)  !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}
.back{
    background-size: 76%;
    background-position: left;
    background-repeat-x: no-repeat;
    background-image: url(./imgs/2.png);
    background-repeat-y: no-repeat;
}
.font-3rem{
    font-size: 3.6rem;}

.p-text-1{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 0px !important;
}
.btn-success {
    color: #022d35 !important;
    background-color: #52c188 !important;
    font-weight: bolder;
    font-size: 1.5rem;
    border-color: #52c188 !important;
}
.img-100{
    width: 99%;
    height: 92%;
}

.font-size-p{
    font-size: 3rem;
    line-height: 3.2rem;

}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        justify-content: right;
    }
    
}
@media (max-width: 992px){
    .back{
        background-image: none;
    }
}